@import "../../assets/styles/base/breakpoints";

.dashboard {
  &__add-button-error {
    color: var(--error);
    margin-top: 6px;
  }

  &__widget {
    width: 400px;
    margin-bottom: 24px;

    @include breakpoint-devices-max('xs-device') {
      width: 100%;
    }
  }

  &__table-delete-edit-icons {
    display: flex;
    justify-content: center;

    svg {
      cursor: pointer;
      height: 24px;
      width: 24px;

      &:hover {
        color: var(--dark-green-200)
      }

      &:first-child {
        margin-right: 6px;
      }
    }
  }
}