.table-container {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  overflow-x: auto;
  max-width: 100%;
}

.table {
  border-radius: 6px;
  border-collapse: collapse;
  width: 100%;

  &__thead tr {
    background-color: var(--dark-green-200);
    color: #ffffff;
    text-align: left;
  }

  &__th, &__td {
    border-left: 0 solid;
    border-right: 0 solid;
    padding: 12px;
    text-align: left;
  }

  &__tbody tr:nth-of-type(even) {
    background-color: var(--gray-100);
  }

  &__tbody tr {
    &:hover {
      td {
        color: var(--dark-green-200);
      }
    }
  }

  &__skeleton {
    &--th {
      margin-bottom: 12px;
    }

    &--td {
      margin-top: 6px;

      &:last-child {
        margin-top: 0;
      }
    }
  }

  &__no-data {
    display: flex;
    justify-content: center;
    padding: 16px;
    width: 100%;
  }
}