@import "src/assets/styles/base/colors";

.sidebar {
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 100vh;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 60px;

  &--is-open {
    width: 260px;
    justify-content: flex-start;

    .sidebar__header {
      opacity: 1;
    }

    .sidebarLink {
      justify-content: flex-start;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    margin-bottom: 24px;
    opacity: 0;
  }

  &__logo {
    height: 60px;
    width: 60px;
    margin-right: 8px;
  }
}