@import "../../assets/styles/base/breakpoints";

.sidebar {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 100vh;
  padding: 16px;
  position: fixed;
  top: 0;
  transition: width 0.5s ease;
  transform-origin: left;
  width: 60px;
  z-index: 99;

  @include breakpoint-devices-max('xs-device') {
    min-height: 100%;
  }

  &--is-open {
    width: 260px;
    justify-content: flex-start;

    .sidebar__header {
      opacity: 1;
      transition: opacity 0.2s ease;
    }

    .sidebar__users-dropdown {
      display: block;
    }

    .sidebarLink {
      justify-content: flex-start;
    }

    .sidebar__collapse-icon {
      color: var(--dark-green-400);
      left: 246px;
      transform: rotate(0deg);
      transition: left 0.5s ease, tranform 0.5s ease;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    margin-bottom: 24px;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &__logo {
    height: 60px;
    width: 60px;
    margin-right: 8px;
  }

  &__collapse-icon {
    background-color: var(--white);
    cursor: pointer;
    display: flex;
    height: 24px;
    left: 48px;
    position: absolute;
    transition: left 0.5s ease;
    transform: rotate(180deg);
    top: 80px;
    width: 24px;

    svg {
      color: var(--dark-green-400);
      height: auto;
      width: 100%;
    }
  }

  &__users-dropdown {
    margin-bottom: 16px;
    display: none;
  }
}