@import "src/assets/styles/base/colors";

.sidebar {
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 100vh;
  padding: 16px;
  position: fixed;
  top: 0;
  transition: width 0.8s ease;
  width: 60px;

  &--is-open {
    width: 260px;
    justify-content: flex-start;

    .sidebar__header {
      opacity: 1;
      transition: opacity 0.2s ease;
    }

    .sidebarLink {
      justify-content: flex-start;
    }

    .sidebar__collapse-icon {
      left: 246px;
      transform: rotate(0deg);
      transition: left 0.8s ease, tranform 0.8s ease;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    margin-bottom: 24px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &__logo {
    height: 60px;
    width: 60px;
    margin-right: 8px;
  }

  &__collapse-icon {
    background-color: $white;
    cursor: pointer;
    display: flex;
    height: 24px;
    left: 48px;
    position: absolute;
    transition: left 0.8s ease;
    transform: rotate(180deg);
    top: 80px;
    width: 24px;

    svg {
      height: auto;
      width: 100%;
    }
  }
}