.sidebarLink {
  align-items: center;
  color: var(--dark-green-400);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  &:hover {
    color: var(--dark-green-200)
  }

  &__link {
    align-items: center;
    display: flex;
  }

  &__icon {
    align-items: center;
    display: flex;

    svg {
      height: 32px;
      width: 32px;
    }
  }

  &__link-text {
    display: none;
  }

  &--is-open {
    .sidebarLink__link-text {
      display: block;
    }

    .sidebarLink__icon {
      height: 20px;
      margin-right: 10px;
      width: 20px;
    }
  }
}