.rootSection {
  min-height: 100vh;
  padding: 24px;
  position: relative;
  top: 0;
  transition: width 0.8s ease, left 0.8s ease;
  width: calc(100% - 60px);
  left: 60px;

  &--sidebar-open {
    left: 260px;
    width: calc(100% - 260px);
  }

  @keyframes reduceWidth {
    from {
      left: 260px;
      width: calc(100% - 260px);
    }
    to {
      left: 60px;
      width: calc(100% - 60px);
    }
  }
}


//Remove the black border
.recharts-layer {
  outline: none !important;
}