@import "typography";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  min-height: 100vh;
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-green-400);
  font-weight: var(--fw-bold);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height-small);
}

h1 {
  font-size: var(--fs-xxlarge);
}

h2 {
  font-size: var(--fs-xlarge);
}

h3 {
  font-size: var(--fs-medium);
}

h4 {
  font-size: var(--fs-small);
}

h5 {
  font-size: var(--fs-xsmall);
}

h6 {
  font-size: var(--fs-xxsmall);
}

p {
  color: var(--dark-green-400);
  font-size: var(--fs-small);
  font-weight: var(--fw-normal);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height-small);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: var(--fs-small);
}

table {
  thead tr th {
    font-weight: var(--fw-normal);
  }
}